// Color Variables
$primary-color: #ff7a59;
$secondary-color: #4fd1ff;
$text-color: #4b3f57;
$text-color-dark: #2a1f36;
$text-color-light: #7d6f8a;
$body-color: #fff8f1;
$border-color: #ffd9c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Fredoka', sans-serif;
$icon-font: 'themify';
